# Node modules
node_modules/

# Azure Functions local settings
local.settings.json

# SQLite DB files
*.db
*.db-journal

# Logs and system files
*.log
.DS_Store

# VS Code settings
.vscode/

# env
.env
.venv